// Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
body {
  font-family: 'Lato', sans-serif;
}

.maing {
  @include outer-container;
  border-radius: 7px;
  background-color: #0000FF;
  position: relative;
  top: 20px;
  padding: 10px;
  .user-input {
    @include span-columns(6);
    border-radius: 7px;
    background-color: #bdc3c7;
    padding: 10px;
  }
  .user-output {
    @include span-columns(6);
    border-radius: 7px;
    background-color: #ecf0f1;
    padding: 10px;
  }
}

input, textarea {
  border: 2px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 4px 4px 6px 1px #272822;
}

input[type="submit"] {
  background-color: #f1c40f;
}

img {
  width: 30%;
  height: 30%;
  float: right;
}
