// Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
.maing {
  @include outer-container;
  border-radius: 10px;
  background-color: #32C1F6;
  .user-input {
    @include span-columns(6);
    border-radius: 10px;
    background-color: #959595;
  }
  .user-output {
    @include span-columns(6);
    border-radius: 10px;
    background-color: #ECF0F1;
  }
}


