<!doctype html>
<html class="no-js">
<head>
	<meta charset="utf-8">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
	<title>BlizzyBlog</title>
	<link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

	<!-- build:css styles/vendor.css -->
	<!-- bower:css -->
	<link rel="stylesheet" href="../bower_components/normalize-css/normalize.css" />
	<!-- endbower -->
	<!-- endbuild -->

	<!-- build:css styles/main.css -->
	<link rel="stylesheet" href="styles/main.css">
	<!-- endbuild -->

	<!-- build:js scripts/vendor/modernizr.js -->
	<script src="../bower_components/modernizr/modernizr.js"></script>
	<!-- endbuild -->
</head>
<body>

	<div class="maing">

		<section class="user-input">
			<h1>Title:</h1>
			<input type="text" class="field" name="title" placeholder="Enter your title here...">
			<h1>Post:</h1>
			<textarea type="text" rows="10" cols="40" class="field" name="postBody" placeholder="Type your blog post here...">
			</textarea>
			<input type="submit" class="preview-button" value="Preview Your Post -->">
		</section>

		<section class="user-output">
			<h3>BlizzyBlog Post Preview:</h3>
			<div class="post-target"></div>
		</section>

	</div>

	<script type="text/template" class="post-template">
		<div>      
      <h1><%= title %></h1>
      <p><%= postBody %></p>
      <hr>
    </div>
  </script>

	<!-- build:js scripts/vendor.js -->
	<!-- bower:js -->
	<script src="../bower_components/jquery/dist/jquery.js"></script>
	<script src="../bower_components/underscore/underscore.js"></script>
	<!-- endbower -->
	<!-- endbuild -->

	<!-- build:js scripts/main.js -->
	<script src="scripts/main.js"></script>
	<!-- endbuild -->

</body>
</html>